.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.calculator {
  display: flex;
  
  border: 2px solid navy;
  background-color:black;
  width: 15rem;
  height: 50vh;
}

#result {
  background-color:white;
}

input{
background-color:orange;
color: white;
border: solid black 2px;
width:100%
}

#result{
background-color:white;
border: solid black 2px;
width:100%
}